body {
  padding: 0;
  margin: 0;
  background-color: rgb(8, 8, 71);
  color: white;
  padding-bottom: 30px;
  font-family: sans-serif;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

.enterprise {
    margin-right: 150px;
    margin-top: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


a {
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  color: orange;
  border: 1px none;
  border-radius: 10px;
  letter-spacing: 2px;
}

.second-nav {
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 20px;
}
.second-nav a {
  margin-right: 50px;
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.location {
  background-color: white ;
  color: rgb(255, 136, 0);
  width: 15%;
  box-shadow: -1px -1px 5px orangered;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  height: 200px;
  padding: 30px 10px 0px 10px;
}

.location img {
  width: 15%;
}

.contact-form {
  text-align: center;
  margin-top: -50px;
  background-color: white;
  width: 50%;
  padding-top: 100px;
  margin-left: 350px;
  padding-bottom: 30px;
}

.contact-form h1 {
    color: rgb(255, 136, 0);
}

input {
  width: 56%;
  height: 30px;
}

button {
    margin-top: 20px;
    width: 25%;
    height: 40px;
    background-color: rgb(255, 136, 0);
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

button:hover {
  letter-spacing: 2px;
  background-color: rgb(26, 26, 158);
  color: white;
}
